extends layout

block content
	h1 #{title}: #{firefighter.fulltitle}

	p #[strong Brigade Number:] #{firefighter.number}
	p #[strong Rank:] #{firefighter.rank}
	p #[strong Name:] #{firefighter.name}
	p #[strong Qualifications: ] 
	each qualification in firefighter.qualifications
		p #{qualification.name}

	hr
	p
		a(href=firefighter.url+'/delete') Delete
	p
		a(href=firefighter.url+'/update') Update
	
	div(style='margin-left:20px;margin-top:20px')
		h4 Drills

		each val in drillinstance_list
			hr
			a(href=val.url) #[strong Date: ] #{val.date_formatted}
			p #[strong Drill: ] 
				!= val.drill.fulltitle
				
	div(style='margin-left:20px;margin-top:20px')
		h4 Shifts

		each val in shiftinstance_list
			hr
			a(href=val.url) #[strong Date: ] #{val.date_formatted}
			p #[strong Pump: ] 
				!= val.pump.name
			

	
