extends layout

block content
	h1= title

	form(method='POST' action='')
		.form-group
			label(for='number') Number:
			input#title.form-control(type='text', placeholder='Brigade Number' name='number' required='true' value=(undefined===firefighter ? '' : firefighter.number))
		.form-group
			label(for='rank') Rank:
			select#author.form-control(type='select', placeholder='Select Rank' name='rank' required='true')
				each val in ['Level 1', 'Qualified Fire Fighter', 'Senior Fire Fighter', 'Senior Fire Fighter 15', 'Leading Fire Fighter', 'Station Officer']
					if firefighter
						option(value=val selected=(val==firefighter.rank ? 'selected' : false)) #{val}
					else
						option(value=val) #{val}
				
		.form-group
			label(for='name') Name:
			input#title.form-control(type='text', placeholder='FireFighter Name' name='name' required='true' value=(undefined===firefighter ? '' : firefighter.name))
		.form-group
			label Qualifications:
			div
				for qualification in qualification_list
					div(style='display: inline; padding-right:10px;')
						input.checkbox-input(type='checkbox', name='qualification' id=qualification._id, value=qualification._id, checked=qualification.checked)
						label(for=qualification._id) #{qualification.name}
		button.btn.btn-primary(type='submit') Submit

	if errors
		ul
			for error in errors
				li!= error.msg
