extends layout

block content
	h1= title
	
	form(method='POST' action='')
		.form-group
			label(for='firefighter') #{current_shiftinstance.date_formatted} #{current_shiftinstance.pump.name}
			select.form-control(type='select', placeholder='Select FireFighter' name='firefighter' required='true')
				each val in firefighter_list
					option(value=val._id id=val._id selected=(val.toString() == current_shiftinstance.firefighter ? 'selected' : false)) #{val.fulltitle}
					
		button.btn.btn-primary(type='submit') Submit

	if errors
		ul
			for error in errors
				li!= error.msg
