extends layout

block content

	h1=title

	form(method='POST' action='')
		input(type='hidden', name='_csrf', value=_csrf)
		.form-group
			label(for='date') Date:
			input#date.form-control(type='date' name='date' required='true' value=(undefined===shiftinstance ? '' : shiftinstance.date))

		.form-group
			label(for='shift') Shift:
			select#shift.form-control(type='select' placeholder='Day/Night' name='shift' required='true')
				option(value='day') Day Shift
				option(value='night') Night Shift

		each appliance, index in appliance_list
			hr
			p=appliance[0].name
			for seat in appliance[0].seats
				.form-group
					label(for=appliance[0].name + seat) #{appliance[0].name} #{seat}
					select(id=appliance[0].name + seat, class='form-control', type='select', placeholder='select firefighter', name=appliance[0].name + seat, required='true')
						for ff in appliance[1]
							if ff[1] === 0
								option(value=ff[0]._id) #{ff[0].fulltitle} : 0
							else
								option(value=ff[0]._id) #{ff[0].fulltitle} : #{ff[1].length}
								

		
		button.btn.btn-primary(type='submit') Submit