extends layout

block content

	h1=title

	form(method='POST' action='')
		.form-group
			label(for='date') Date:
			input#date.form-control(type='date' name='date' required='true' value=(undefined===shiftinstance ? '' : shiftinstance.date))

		.form-group
			label(for='shift') Shift:
			select#shift.form-control(type='select' placeholder='Day/Night' name='shift' required='true')
				option(value='day') Day Shift
				option(value='night') Night Shift

		each appliance, key in appliance_list
			hr
			each seat in appliance.seats
				.form-group
					label(for=appliance.name + seat) #{appliance.name} #{seat}
					select(id=appliance.name + seat, class='form-control', type='select', placeholder='select firefighter', name=appliance.name + seat, required='true')
						if appliance.name == 'flyer'
							if (seat == 'driver' && appliance.name != 'bronto' && appliance.name != 'salvage')
								each firefighter in md_list
									each val in firefighter.qualifications
										if (val.name == 'md' && firefighter.rank != 'Station Officer')
											option(value=firefighter._id) #{firefighter.fulltitle}
							else if (appliance.qualifications.length > 0)
								each firefighter in ranking_lists[key]
									if (firefighter.rank != 'Station Officer')
										each val in firefighter.qualifications
											if (val.name == appliance.qualifications[0].name)
												option(value=firefighter._id) #{firefighter.fulltitle}
							else
								each firefighter in ranking_lists[key]
									if (firefighter.rank != 'Station Officer')
										option(value=firefighter._id) #{firefighter.fulltitle}
						


		button.btn.btn-primary(type='submit') Submit

		