extends layout

block content
	h1= title
	
	each firefighter in back_list
		p #{firefighter.firefighter}
	
	p
		!= driver_object.firefighter

	form(method='POST' action='')
		.form-group
			label(for='driver') Driver: #{driver_object.fulltitle}
			select#driver.form-control(type='select', placeholder='Select FireFighter' name='driver' required='true')
				each val in firefighter_list
					option(value=val selected=(val == driver_object.firefighter ? 'selected' : false)) #{val}
					
		button.btn.btn-primary(type='submit') Submit

	if errors
		ul
			for error in errors
				li!= error.msg
